.controls {
  display: flex;
  /* justify-content: space-between; */
}

.controls > * {
  margin: 0 5px;
}

div {
  color: white;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.thumb {
  width: 60px;
  height: 60px;
}