/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000428), to(#004E92)) fixed;
  min-width: 1200px;
}

.stats, .control {
  padding: 10px;
  margin: 10px 20px 10px 20px;
}

.frame {
  margin: 10px 20px 10px 20px;
  flex-grow: 9999;
  background: white;
}

/* Style buttons */
.btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  color: lightblue;
}

.smallBtn {
  font-size: 20px !important;
}
